.blue {
  color: #345685; }

.blue-bg {
  background-color: #345685; }

.lt-blue-bg {
  background-color: rgba(52, 86, 133, 0.15); }

.blue-cap {
  color: rgba(52, 86, 133, 0.8); }

.by-author {
  float: right;
  font-weight: bold; }

.dropcap {
  float: left;
  font-size: 3.5em;
  margin: 10px 4px 8px 0px;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 600;
  display: block; }

.bigger {
  font-size: 18px; }

figure {
  margin: 0; }

figcaption {
  line-height: 1.2em;
  font-size: .8em;
  width: 100%;
  max-width: inherit;
  display: block;
  margin-top: .25em;
  font-family: Tahoma, Verdana, Segoe, sans-serif; }

figcaption .figlead {
  line-height: 1.2em;
  font-size: .9em; }

blockquote {
  margin: 1em 4.5em;
  font-size: 1.5em;
  line-height: 1.3em;
  width: 66%; }

.header-spine span {
  float: left;
  font-size: 3.5em;
  margin: 10px 4px 8px 0px;
  font-family: open-sans-condensed, sans-serif;
  font-weight: 600;
  display: block; }

.larger-cap span {
  font-size: 20px;
  line-height: 22px; }

.red {
  color: blue; }

.issue_dl dt {
  font-weight: bold;
  margin-top: 1em; }

.divphotofull {
  max-width: 700px;
  width: 100%;
  display: block;
  padding-bottom: 8px; }

.divbeginright {
  width: 320px;
  display: block;
  padding-bottom: 5px;
  padding-left: 2px;
  float: right;
  margin-left: 5px; }

.divbeginleft {
  width: 320px;
  display: block;
  padding-bottom: 5px;
  padding-left: 2px;
  float: left;
  margin-right: 10px; }

#article-content aside {
  width: 93%;
  overflow: hidden;
  padding: 1.3em 1.3em .5em 1.3em;
  margin: 1em 0; }
  #article-content aside.article-aside h4 {
    font-size: .9em; }
  #article-content aside.article-aside h5 {
    font-size: 1.4em;
    margin-bottom: .5em; }
  #article-content aside.article-aside figure {
    margin-bottom: 1em; }

#article-content div.article-aside {
  width: 93%;
  overflow: hidden;
  padding: 1.3em 1.3em .5em 1.3em;
  margin: 1em 0; }
  #article-content div.article-aside figure {
    margin-bottom: 1em; }

.fancybullet {
  padding: .5em;
  border-radius: 50%;
  width: 22px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 1.1em;
  margin: .25em .5em 0em .25em;
  float: left; }

h3.design {
  color: #ffffff;
  margin-top: -10px;
  line-height: 18px;
  padding-top: 1em;
  padding-left: 1em;
  position: absolute; }
